@model IEnumerable<Gig>
@{
    ViewData["Title"] = "Home Page";
}

<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">@gig.Date.ToString("MMM")</div>
                <div class="day">@gig.Date.ToString("d ")</div>
            </div>
            <div class="details">
                <div class="artist">
                    @gig.Artist.Name
                </div>
                <div class="genre">
                    @gig.Genre_.Name
                </div>
            </div>
        </li>
    }
</ul>