@using Gighub.WebClient.ViewModels

@model GigViewModel
@{
    ViewBag.Title = "Create";
}

<h1>Add a Gig</h1>

<form method="post" action="Create">
    <div class="form-group">
        <label asp-for="Venue"></label>
        <input asp-for="Venue" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Time"></label>
        <input asp-for="Time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <select asp-for="Genre" asp-items="@Model.Genres" class="form-control">
            <option disabled selected>Please select genre</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>